# Use postgres/example user/password credentials

services:

  db:
    image: postgres:18
    container_name: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: ai_paper_partner
      POSTGRES_DB: ai_paper_partner_db
    ports:
      - "5432:5432"

volumes:
  postgres_data: